

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top" title="This Header is rendered by /app/_layout/site-header/site-header.component.html">
  
 <h3>  GOSHOP App </h3> 
</nav>
<div class="button-outer">
    <div class="button-div">
      <nav >
        <a  routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active"  *ngIf="show">Customers</a>
        <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
        <a routerLink="findbyitemname" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
      </nav>
    </div>
     
    </div>
    
  