/* Trick: */
body { 
    min-height:100%; padding:0; margin:0; position:relative; 

    display:flex; 
    flex-direction:column; 
  }
  
body::after {
    content: '';
    display: block;
    height: 50px;
    float: left;
  } /* Set same as footer's height */
  
  
  footer {
    position:absolute;
    background:PapayaWhip;
    bottom: 0px;
    width: 100%;
    right: 0px;
    height: 50px;
    float: left;
  }