
      <head>

          <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
          <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
          <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
          <!------ Include the above in your HEAD tag ---------->
        </head>
        <h2 style=center > Address Details</h2>
          <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
          <div class="container" *ngFor="let part of address">
            <div class="row">
              
                 <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                          <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-radius: 16px;">
                                  <div class="well profile col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" >
                                          
                                          <h5 style="text-align:center;"><strong id="user-name">{{part.fullName}}</strong></h5>
                                          <p style="text-align:center;font-size: smaller;" id="user-frid">FBT000000213 </p>
                                          <p style="text-align:center;font-size: smaller;overflow-wrap: break-word;" id="user-email">{{part.currentaddress}}</p>
                                          <p style="text-align:center;font-size: smaller;"><strong>A/C status: </strong><span class="tags" id="user-status">Active</span></p>
                                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center"></div>
                                       
                                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center"></div>
                                              <div class="col-lg-6 left" style="text-align:center;overflow-wrap: break-word;">
                                                PIN
                                                  <h4> <p style="text-align: center;"><strong id="user-globe-rank">{{part.pincode}} </strong></p></h4>           
                                                  <p><small class="label label-success">Delivery Available</small></p>
                                                  <!--<button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>-->
                                              </div>
                                              <div class=" col-lg-6 left" style="text-align:center;overflow-wrap: break-word;">
                                                DAYS
                                                  <h4><p style="text-align: center;"><strong id="user-college-rank">12 </strong></p></h4>                   
                                                  <p> <small class="label label-warning">WorkingDays</small></p>
                                                  <!-- <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>-->
                                              </div>
                                              <button type="button" class="button btn-success"    (click)="setPrimary()">set as primary</button>    
    
    
                                              <button type="button" class="button btn-danger"    (click)="removeAddress(part.addressid)">DELETE</button>    
    
    
      
    
    
    
    
    
    
                                        </div>
                                        
                                      </div>
    
    
                                      
                                  </div>
                  
    
                              </div>
                          </div>
                      </div>    
                  </div>
                  <button class="checkout" (click)="buyNow()">BUY</button>
            
         